<div class="col-sm-4 feature-item">
  <div class="feature-icon xmpp-icon animated growIn" data-id="1"></div>
  <div class="feature-content">
    <h4>XMPP</h4>
    <p class="text-muted">Federal real-time communication</p>
  </div>
</div>
<div class="col-sm-4 feature-item">
  <div class="feature-icon animated growIn" data-id="2">
    <i class="fa fa-link" aria-hidden="true"></i>
  </div>
  <div class="feature-content">
    <h4>Uninterrupted</h4>
    <p class="text-muted">Browse between pages as usual</p>
  </div>
</div>
<div class="col-sm-4 feature-item">
  <div class="feature-icon animated growIn" data-id="3">
    <i class="fa fa-user" aria-hidden="true"></i>
  </div>
  <div class="feature-content">
    <h4>One-to-One</h4>
    <p class="text-muted">Like a physical conversation</p>
  </div>
</div>
<div class="col-sm-4 feature-item">
  <div class="feature-icon animated growIn" data-id="4">
    <i class="fa fa-users" aria-hidden="true"></i>
  </div>
  <div class="feature-content">
    <h4>Groups</h4>
    <p class="text-muted">Multi-user converstaion</p>
  </div>
</div>
<div class="col-sm-4 feature-item">
  <div class="feature-icon animated growIn" data-id="5">
    <i class="fa fa-exchange" aria-hidden="true"></i>
  </div>
  <div class="feature-content">
    <h4>File Transfer</h4>
    <p class="text-muted">Send and Receive files</p>
  </div>
</div>
<div class="col-sm-4 feature-item">
  <div class="feature-icon animated growIn" data-id="6">
    <i class="fa fa-video-camera" aria-hidden="true"></i>
  </div>
  <div class="feature-content">
    <h4>Video Calls</h4>
    <p class="text-muted">without plugin</p>
  </div>
</div>
<div class="col-sm-4 feature-item">
  <div class="feature-icon animated growIn" data-id="7">
    <i class="fa fa-language" aria-hidden="true"></i>
  </div>
  <div class="feature-content">
    <h4>International</h4>
    <p class="text-muted">Use JSXC in your favorite language</p>
  </div>
</div>
<div class="col-sm-4 feature-item">
  <div class="feature-icon animated growIn" data-id="8">
    <i class="fa fa-bell" aria-hidden="true"></i>
  </div>
  <div class="feature-content">
    <h4>Notifications</h4>
    <p class="text-muted">Don't miss a single message</p>
  </div>
</div>
<div class="col-sm-4 feature-item">
  <div class="feature-icon animated growIn" data-id="9">
    <i class="fa fa-lock" aria-hidden="true"></i>
  </div>
  <div class="feature-content">
    <h4>Encrypted</h4>
    <p class="text-muted">End-to-end encrypted 2 party communication</p>
  </div>
</div>
