---
layout: default
title: Blog
---

<h2>Recent Articles</h2>

<p></p>

<div class="posts">
   <!-- This loops through the paginated posts -->
   {% for post in paginator.posts %}
      <div class="post">
         <p class="meta">
            {{ post.date | date: '%A %B %d %Y' }}
         </p>
         <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
         <!-- <div class="content">
            {{ post.excerpt }}
         </div> -->
     </div>
   {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  <span class="page_number ">page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>

<script src="{{ site.siteurl }}/javascripts/jquery.jscroll.min.js"></script>

<script type="text/javascript">
$('#main-content').jscroll({
    contentSelector: ".posts",
    nextSelector: '.next'
});
</script>
