---
---
$blue: #2879d0;
$lightblue: #9ddcff;
$darkblue: #185da8;
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'Architects Daughter';
    src: url('../fonts/architectsdaughter-webfont.eot');
    src: url('../fonts/architectsdaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/architectsdaughter-webfont.woff') format('woff'),
         url('../fonts/architectsdaughter-webfont.ttf') format('truetype'),
         url('../fonts/architectsdaughter-webfont.svg#architects_daughterregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/PT_Sans-Web-Regular.ttf) format('truetype');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
b, strong {
	font-weight:bold !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
sup {
  font-size: 0.6em;
}
.footnote {
  position: relative;
  top: 70px;
}
img.full-row {
  max-width: 100%;
  margin: 15px auto;
  display: block;
}
.downloads {
  margin: 50px 0;
}
.download-button {
  padding: 0 0 0 80px;
  position: relative;
  display: inline-block;
  border: 1px solid $blue;
  border-radius: 3px;
  min-height: 80px;
  color: $blue;
  text-align: left;
  transition: background-color 0.5s, color 0.5s;
  &:hover {
    text-decoration: none;
    background-color: $blue;
    color: #fff;
  }
  &:before {
    content: '\f019';
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    line-height: 78px;
    text-align: center;
    font-size: 50px;
  }
  span {
    display: block;
    padding-right: 30px;
    &.button-subcaption {
      margin-top: 20px;
      font-size: 0.7em;
    }
    &.button-caption {
      font-size: 1.5em;
    }
  }
}

.navbar-default {
  background-color: transparent;
  color: #fff;
  border: 0;
  .navbar-nav>li>a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .navbar-brand {
    color: #fff;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    &:hover {
      color: #fff;
    }
    >img {
      height: 3em;
      margin-top: -1em;
   }
  }
  &.navbar-fixed-top {
    padding-top: 20px;
    transition: padding-top 0.5s;
    &.navbar-graceful {
      padding-top: 0px;
      background-color: $blue;
      box-shadow: 0 0 5px 0 #555;
    }
  }
  .nav a {
    border-bottom: 2px solid transparent;
    &.current, &:hover {
      border-bottom: 2px solid #fff;
    }
  }
  .navbar-toggle, .navbar-toggle:focus, .navbar-toggle:hover {
    background-color: $blue;
    .icon-bar {
      background-color: #fff;
    }
  }
  @media (max-width: 768px) {
    .navbar-collapse {
      background-color: $blue;
      box-shadow: 0 0 5px 0 #555;
    }
    .nav a {
      border-bottom: 0px;
      &.current, &:hover {
        border-bottom: 0px;
        text-decoration: underline;
      }
    }
  }
}
body {
  font-family: 'PT Sans', sans-serif;
  background-color: #fafafa;
}
img {
  max-width: 100%;
}
.team-member {
  text-align: center;
  img {
    border-radius: 50%;
  }
  h4 {
    margin: 8px 0 5px 0;
    font-size: 1em;
  }
  p {
    color: #a1a1a1;
    font-size: 0.8em;
  }
  .social-icon {
    text-align: center;
    li {
      padding: 0;
      margin: 0 2px;
    }
    a {
      display:block;
      width: 30px;
      height: 30px;
      background-color: $blue;
      color: #fff;
      line-height: 26px;
      border-radius: 50%;
      i {
        font-size: 12px;
      }
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }
}
header {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
  padding: 160px 0 80px 0;
  color: #fff;
  text-align: center;
  h1 {
    letter-spacing: -1px;
    font-size: 60px;
    color: #fff;
    line-height: 1;
    margin-bottom: 0.2em;
  }
  h2 {
    font-size: 23px;
    color: #9ddcff;
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: 0;
  }
}
body.landing {
  header {
    padding: 210px 0 150px 0;
  }
  #contact {
    &:before {
      display: none;
    }
  }
}
section {
  padding: 100px 0;
  p {
    margin-bottom: 10px;
  }
  h2 {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 1.8em;
    letter-spacing: -1px;
    color: #474747;
    margin-top: 80px;
    margin-bottom: 10px;
    &.section-header {
      margin: 0;
    }
  }
  h3 {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 1.4em;
    letter-spacing: -1px;
    color: #474747;
    margin-top: 30px;
    margin-bottom: 10px;

    &.section-subheader {
      font-family:'PT Sans', sans-serif;
      margin-top: 0;
      margin-bottom: 90px;
      letter-spacing: normal;
      font-size: 1em;
    }
  }
  h4 {
    font-size: 1.1em;
    color: #474747;
  }
  ul, ol {
    list-style: none;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    li {
      margin-bottom: 10px;
      position: relative;
      &:before {
        content: "\f069";
        font-family: FontAwesome;
        color: $blue;
        font-size: 0.6em;
        margin-right: 5px;
        vertical-align: top;
        position: absolute;
        right: 100%;
      }
    }
  }
  ol {
    list-style: decimal;
    > li:before {
      content: none;
    }
    ul, ol {
      margin-bottom: 0;
    }
  }
  .list-inline {
    margin: 0;
    li {
      margin: 0 10px;
      display: inline-block;
      &:before {
        content: none;
      }
    }
  }
  &:nth-child(odd) {
    background-color: #fff;
  }
}
#mainFeatures {
  background-color: #fff;
  img {
    background-color: #2879d0;
    width: 140px;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
#getStarted {
  background-color: #fafafa;
  .box-item {
    padding: 0 25px;
    margin-bottom: 30px;
  }
  .box-content {
    background-color: #fff;
    img {
      max-width: 100%;
    }
  }
  .box-caption {
    text-align: center;
    background-color: #fff;
    padding: 25px;
  }
}
#features {
  background-color: #fff;
  .feature-item {
    margin-bottom: 30px;
    min-height: 80px;
    &:hover {
      /*.feature-icon {
        color: #fff;
        background-color: $blue;
        &.xmpp-icon {
          background-image: url(../images/icons/xmpp-white.svg);
        }
      }*/
    }
  }
  .feature-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid $blue;
    float: left;
    margin-right: 20px;
    text-align: center;
    line-height: 78px;
    font-size: 30px;
    color: $blue;
    transition: background-color 0.5s, color 0.5s;
    &.xmpp-icon {
      background-image: url(../images/icons/xmpp-blue.svg);
      background-size: 36px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .feature-content {
    margin-top: 15px;
    padding-right: 30px;

    /*h4, p {
      color: #2879d0;
    }
    p {
      opacity: 0.7;
    }*/
  }
  .more-features {
    padding-top:50px;
    font-size: 1.2em;
    a {
        color: #a1a1a1;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          color: #545454;
        }
    }
  }
}
#blog {
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  h2 {
    color: #fff;
  }
  h3 {
    color: $lightblue;
  }
  .more-articles {
    padding-top:50px;
    font-size: 1.2em;
    a {
        color: #fff;
        text-decoration: none;
        opacity: 0.7;
        &:hover {
          text-decoration: none;
          opacity: 1;
        }
    }
  }
}
#contact {
  position: relative;
  margin-top: 100px;
  background-image: url(../images/word_map.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -30px;
  padding-bottom: 15px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 100px;
    background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  }
  .footer {
    margin-top: 85px;
  }
  .contact-github, .contact-card, .contact-twitter {
    color: $blue;
    text-decoration: none;
    .contact-caption {
      opacity: 0;
      transition: opacity 0.5s;
    }
    &:hover {
      text-decoration: none;
      opacity: 1;
      .contact-caption {
        opacity: 1;
      }
      .contact-icon {
        transform: scale(1.2, 1.2);
      }
    }
  }
  .contact-card:hover {

  }
  .contact-icon {
    color: #fff;
    display: block;
    margin: 20px auto;
    font-size: 50px;
    display:block;
    opacity: 1;
    width: 80px;
    height: 80px;
    line-height: 78px;
    border-radius: 50%;
    background-color: $blue;
    transform: scale(1,1);
    transition: transform 0.5s;
  }
  .contact-card .contact-icon {
    font-size: 40px;
  }
}

.blog-item {
  position: relative;
  h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
    opacity: 0.7;
    margin-top: 0;
    a {
      color: #474747;
      /*font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;*/
    }
  }
  p {
    margin-bottom: 10px;
    &.blog-meta {
      opacity: 0.5;
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 0.9em;
    }
  }
  .blog-more {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    right: 10px;
    line-height: 38px;
    font-size: 30px;
    color: #a1a1a1;
    @media (min-width: 768px) {
      opacity: 0;
      transition: opacity 0.5s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.vertical-timeline {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background-color: #3082da;
  }
  .vertical-timeline-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    border: 3px solid #3082da;
    background-color: #fff;
    text-align: center;
    color: $blue;
    i {
      display: block;
      width: 24px;
      height: 24px;
      position: relative;
      left: 50%;
      top: 50%;
      margin-left: -12px;
      margin-top: -9px;
    }
  }
  .vertical-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #fff;
    border-radius: .25em;
    padding: 1em;
    background-color: #fff;
    &:before {
      content: '';
      position: absolute;
      top: 16px;
      right: 100%;
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-right: 7px solid #fff;
    }
  }
}
.spinner-item {
  color: $blue;
}
#posts {
  background-color: #fafafa;
  img {
    max-width: 100%;
  }
  .vertical-timeline {
    padding-bottom: 60px;
    &:before {
      background-color: #dfdcdc;
    }
  }
  .vertical-timeline-icon {
    border-color: #fff;
    background-color: $blue;
    color: #fff;
  }
  .jscroll-added .container {
    padding: 0;
  }
  .pagination {
    .previous, .page_number {
      display: none;
    }
    .next {
      display: block;
      line-height: 80px;
      position: relative;
      color: $blue;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      i {
        font-size: 3em;
        vertical-align: middle;
      }
      .next-caption {
        position: absolute;
        left: 130%;
      }
      @media (min-width: 768px) {
        .next-caption {
          opacity: 0;
          transition: opacity 0.5s;
        }
        &:hover {
          .next-caption {
            opacity: 1;
          }
        }
      }
    }
  }
}
#post {
  color: #474747;
  .meta {
    color: #818181;
    margin-bottom: 50px;
  }
  img.avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
  }
  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #474747;
  }
  h3 {
    margin-bottom: 10px;
    font-size: 1.1em;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    color: #474747;
  }
  h3 + ul {
    margin-top: 20px;
  }
  .navigation {
    margin-top: 80px;
    .previous {
      float: left;
      width: 49.5%;
      text-align: right;
      padding-right: 20px
    }
    .next {
      float: right;
      width: 49.5%;
      padding-left: 20px;
    }
    .clear {
      clear: both;
    }
  }
}
#plannedFeatures {
  background-color: #fff;
  ul {
    text-align: center;
    margin-bottom: 80px;
    li:before {
      position: static;
    }
  }
}
#downloads {
  h4 {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
}
#team {
  .team-member {
    margin-bottom: 80px;
  }
}
#manual {

}
#browserSupport {
  .browser-item {
    text-align: center;
    img {
      width: 100px;
      max-height: 100px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}
