<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'/>
<meta http-equiv="X-UA-Compatible" content="chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
{% if page.description %}
<meta name="description" content="{{page.description}}"/>
<meta name="og:description" content="{{page.description}}"/>
{% endif %}
{% if page.image %}
<meta name="og:image" content="{{page.image}}"/>
{% else %}
<meta name="og:image" content="/images/jsxc.png"/>
{% endif %}
<meta name="og:site_name" content="JSXC"/>

{% feed_meta %}

<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.colorbox.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

<!--[if lt IE 9]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery.colorbox-min.js"></script>
<script>
$(function(){
        $('a[href^="images/"]').colorbox({
            maxWidth: '90%',
            maxHeight: '90%',
            rel: 'gal'
        });
});
</script>

<title>JSXC: JavaScript XMPP Client{% if page.title %} / {{page.title}}{% endif %}</title>
</head>

<body>
   <header>
      <div class="inner">
         <h1>JSXC{% if page.title and page.is_post != true %}: {{page.title}}{% endif %}</h1>
         <h2>JavaScript XMPP Client</h2>
         <a href="https://github.com/jsxc" class="button"><small>View project on</small>GitHub</a>
      </div>
   </header>

   <div id="content-wrapper">
      <div class="inner clearfix">
         <section id="main-content">
            {{content}}
         </section>

         <nav id="mainnav">
            <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/blog/">Blog</a></li>
               <li><a href="/features.html">Features</a></li>
               <li><a href="/examples.html">Examples</a></li>
               <li><a href="/installation.html">Installation</a></li>
               <li><a href="/manual.html">User Manual</a></li>
               <li><a href="/faq.html">FAQ</a></li>
               <li><a href="/publications.html">Publications</a></li>
               <li><a href="/contact.html">Contact</a></li>
            </ul>
         </nav>

         <aside id="sidebar">
            <a href="https://github.com/jsxc/jsxc/releases" class="button"> <small>Download</small> JSXC Core</a>
                <a href="https://github.com/jsxc/jsxc.owncloud/releases" class="button"> <small>Download JSXC for</small> ownCloud</a>
                <a href="https://github.com/jsxc/jsxc.sogo/releases" class="button"> <small>Download JSXC for</small> SOGo</a>
		<a href="https://github.com/jsxc/jsxc.ilias/releases" class="button"> <small>Download JSXC for</small> Ilias</a>
            <p>
               This page is derived from the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
            </p>
         </aside>
      </div>
   </div>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://www.jsxc.org/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 8]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://track.webstudio-bodensee.de/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
