<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'/>
<meta http-equiv="X-UA-Compatible" content="chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
{% if page.description %}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@jsxc_org"/>
<meta name="twitter:title" content="{{page.description}}"/>
<meta name="description" content="{{page.description}}"/>
<meta name="og:description" content="{{page.description}}"/>
{% endif %}
{% if page.image %}
<meta itemprop="image" content="{{ site.url }}{{page.image}}">
<meta name="twitter:image" content="{{ site.url }}{{page.image}}">
<meta name="og:image" content="{{ site.url }}{{page.image}}"/>
{% else %}
<meta itemprop="image" content="{{ site.url }}/images/jsxc-2-1.png">
<meta name="twitter:image" content="{{ site.url }}/images/jsxc-2-1.png"/>
<meta name="og:image" content="{{ site.url }}/images/jsxc-2-1.png"/>
{% endif %}
<meta name="og:site_name" content="JSXC — The Open Chat"/>
<meta rel="icon" href="{{ site.url}}/images/jsxc-icon.png"/>
<meta rel="apple-touch-icon-precomposed" href="{{ site.url}}/images/jsxc-icon.png"/>
<meta rel="msapplication-TileImage" href="{{ site.url}}/images/jsxc-icon.png"/>

{% feed_meta %}

<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/vendor/jquery-colorbox/example1/colorbox.css" />
<link rel="stylesheet" type="text/css" href="/vendor/css3-animate-it/css/animations.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

<!--[if lt IE 9]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title>JSXC: JavaScript XMPP Client{% if page.title %} / {{page.title}}{% endif %}</title>
</head>

<body {% if page.landing == true %}class="landing"{% endif %}>
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
         <img src="{{site.url}}/images/jsxc-logo-icon-white.svg" alt="JSXC icon" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a {% if '/' == page.url %}class="current"{% endif %} href="/">Home</a></li>
        <li><a {% if page.url contains '/blog' %}class="current"{% endif %}  href="/blog/">Blog</a></li>
        <li><a {% if '/features.html' == page.url %}class="current"{% endif %} href="/features.html">Features</a></li>
        <li><a {% if '/installation.html' == page.url %}class="current"{% endif %} href="/installation.html">Installation</a></li>
        <li><a {% if '/manual.html' == page.url %}class="current"{% endif %} href="/manual.html">User Manual</a></li>
        <li><a {% if '/managed.html' == page.url %}class="current"{% endif %} href="/managed.html">Hosting</a></li>
        <li><a {% if '/faq.html' == page.url %}class="current"{% endif %} href="/faq.html">FAQ</a></li>
        <li><a {% if '/publications.html' == page.url %}class="current"{% endif %} href="/publications.html">Publications</a></li>
      </ul>
    </div>
  </div>
</nav>
   <header>
      <div class="inner">
         <h1>{% if page.is_post %}Blog{% elsif page.title %}{{page.title}}{% else %}JavaScript XMPP Client{% endif %}</h1>
         {% if page.subtitle and page.is_post != true %}<h2>{{page.subtitle}}</h2>{% endif %}
      </div>
   </header>

   <main id="content-wrapper">
            {{content}}
   </main>

   <section id="contact">
   	<div class="container">
   		<div class="row">
   			<div class="col-lg-12 text-center">
   				<h2 class="section-header">Social</h2>
   				<h3 class="section-subheader">Get in touch with us</h3>
   			</div>
   		</div>
   		<div class="row">
   			<div class="col-xs-4 col-md-2 col-md-offset-3 text-center">
   				<a href="https://github.com/jsxc" class="contact-github">
   					<div class="contact-icon">
   						<i class="fa fa-github" aria-hidden="true"></i>
   					</div>
   					<div class="contact-caption">
   						Github
   					</div>
   				</a>
   			</div>
   			<div class="col-xs-4 col-md-2 text-center">
   				<a href="/contact.html" class="contact-card">
   					<div class="contact-icon">
   						<i class="fa fa-address-card" aria-hidden="true"></i>
   					</div>
   					<div class="contact-caption">
   						Contact
   					</div>
   				</a>
   			</div>
   			<div class="col-xs-4 col-md-2 text-center">
   				<a href="https://twitter.com/jsxc_org" class="contact-twitter">
   					<div class="contact-icon">
   						<i class="fa fa-twitter" aria-hidden="true"></i>
   					</div>
   					<div class="contact-caption">
   						Twitter
   					</div>
   				</a>
   			</div>
   		</div>
   		<div class="row footer">
   			<div class="col-lg-12 text-center">
				<p class="text-muted">Improve this website on <a href="https://github.com/jsxc/jsxc.org">jsxc/jsxc.org</a>.</p>
				<p class="text-muted"><a href="/legal-information.html">legal information</a> &bullet; <a href="/privacy-policy.html">privacy policy</a></p>
   			</div>
   		</div>
   	</div>
   </section>

   <script src="/vendor/jquery/dist/jquery.min.js"></script>
   <script src="/vendor/jquery-colorbox/jquery.colorbox-min.js"></script>
   <script src="/vendor/css3-animate-it/js/css3-animate-it.js"></script>
   <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="/javascripts/main.js"></script>

   {{page.bodyScript}}

<!-- Piwik -->
<noscript><p><img src="/piwik/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
