---
layout: default
---

<!-- Look the author details up from the site config. -->
{% assign author = site.data.authors[page.author] %}


<div class="post">
{% if author %}
   <p class="meta avatar">
      <!-- Personal Info. -->
      <img class="avatar" src="{{site.url}}/images/avatar/{{page.author}}.jpg" alt="A photo of {{ author.name }}"/>
      <a href="mailto:{{ author.email }}">{{ author.name }}</a> wrote this on <time datetime="{{page.date}}"> {{ page.date | date: '%B %d, %Y' }}</time>
   </p>
{% else %}
   <p class="meta">
      Written on <time datetime="{{page.date}}">{{ page.date | date: '%B %d, %Y' }}</time>
   </p>
{% endif %}

   <h2>{{ page.title }}</h2>
   
   <div class="content">
      {{ content }}
   </div>
</div>
